$black: #060606;
$white: #ffffff;

$blue:#3846B2;
$blue_darkest: #181f49;
$blue_dark: #263267;
$blue_medium: #2B3680;
$blue_light:#334099;

// pink
$pink:#0770e6;
$pink_dark:#0c5ba6;
$pink_shadow:#0E3368;

// grey
$grey: #aaa;
$grey_light: #eaedf4;
$grey_dark: #818382;
$grey_medium: hsl(217, 11%, 41%);

$purple: #765dda;
$purple_light: #7c64e087;

//pink
$pink: #ff5291;
$pink_light: #ff68a1;

$orange: #EC4D09;

$yellow: #FFF19C;

$green: #50e2c3;
$green_dark: #008000c7;
$green_light: #00800099;

$red: #a32e22;
$red_light: #a32e2299;