$regular: 400;

$semibold: 'pantonsemibold';
$bold: 'pantonbold';
$extra: 'pantonextrabold';
$regular: 'pantonregular';

@font-face {
    font-family: pantonbold;
    src: url(/assets/fonts/panton_bold-webfont.woff2) format("woff2"), url(/assets/fonts/panton_bold-webfont.woff) format("woff");
    font-weight: $regular;
    font-style: normal
  }

  @font-face {
    font-family: pantonextrabold;
    src: url(/assets/fonts/panton_extrabold-webfont.woff2) format("woff2"), url(/assets/fonts/panton_extrabold-webfont.woff) format("woff");
    font-weight: $regular;
    font-style: normal
  }

  @font-face {
    font-family: pantonsemibold;
    src: url(/assets/fonts/panton_semibold-webfont.woff2) format("woff2"), url(/assets/fonts/panton_semibold-webfont.woff) format("woff");
    font-weight: $regular;
    font-style: normal
  }

  @font-face {
    font-family: pantonregular;
    src: url(/assets/fonts/panton-webfont.woff2) format("woff2"), url(/assets/fonts/panton-webfont.woff) format("woff");
    font-weight: $regular;
    font-style: normal
  }
