
// main
$color_main: $blue;
$color_secondary: $blue_dark;

// text colors
$color_title: $blue_light;
$color_title_card: $blue_dark;
$color_text: $grey;
$color_text_dark: $black;
$color_text_button: $color_main;

// background colors
$bg_color_page: $grey_light;
$bg_color_header_page: $blue_dark;
$bg_color_button: $blue;
$bg_color_card: white;
$progress-color: $blue;

//WARN COLORS
$color-warning: $orange;
$color-discount: $yellow;
$color-info: $blue_dark;

// them fonts
$font_pattern: $regular;
